@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Addington CF";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/AddingtonCF-Thin.otf");
}

@font-face {
    font-family: "Addington CF";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/AddingtonCF-Medium.otf");
}